.App {
  text-align: center;
}

.ui.inverted.menu {
  border-radius: 0;
}

#banner-text {
  font-size: large;
  font-weight: bold;
}

#home-logo {
  height: 15em;
  width: 15em;
}

.customer-container {
  display: flex;
  justify-content: center;
}

.customers {
  height: 17em;
  width: 17em;
  padding: 2em;
}

#side-menu {
  height: 100vh;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
}

.dashboard-section-2 {
  margin-left: 2em;
}

.dashboard-tab-heading {
  margin-top: 1em !important;
}
